<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin entry</title>
  </head>
  <body>
    <div class="ad_login">
      <form action=<%=postUrl%> method="post">
        ad_name:<input type="text" name="use" ><br>
        ad_password:<input type="password" name="pas" ><br>
        <input type="submit" value="login">
      </form>
    </div>
  </body>
</html>
