<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

   <div class="page">
     <% include repeat/head.top.ejs %>
     <div class="content">

     </div>
   </div>

  </body>
</html>
